data/
**/__pycache__/
bin/
target/
build/
.bloop
.bsp
.metals
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.log
*.iml
*.ipr
*.iws
.idea
.vscode/
.scala-build/